h2= question

table.rights
	tr
		th.yes Yes
		th.no No
		th.label
		th.response Shoppers who said Yes
			
	for right in rights
		tr(id=right.slug)
			td(class="check yes")
				input(id=right.slug + "-yes", type="checkbox")
				label(for=right.slug + "-yes")
			td(class="check no")
				input(id=right.slug + "-no", type="checkbox")
				label(for=right.slug + "-no")
			td(class="label")= right.text
			td(class="response")
				div.wrap
					div.fill
				div.pct
							
button.active.score(type="button") Compare my answers

div &nbsp;

div.your-results
	h2= results_hed
		
	div(id="no-rights", class="robo")
		for graf in no_rights
			p!= graf.value
		
	div(id="all-rights", class="robo")
		for graf in all_rights
			p!= graf.value
		
	div(id="example-right", class="robo")
		for graf in example_right
			p!= graf.value
			
	for graf in transition
		p!= graf.value
		
	div(id="no-own", class="robo")
		for graf in no_own
			p!= graf.value
		
	div(id="yes-own", class="robo")
		for graf in yes_own
			p!= graf.value
