for graf in intro
	p!= graf.value

div.split
	div.left
		img(src="assets/Buy+Now.jpg")

	div.spacer &nbsp;

	div.right
		h2= question
		
		table.rights
			tr
				th.yes Yes
				th.no No
				th.label
					
			for right in rights
				tr(id=right.slug)
					td(class="check yes ")
						input(type="checkbox")
					td(class="check no ")
						input(type="checkbox")
					td(class="label")= right.text
				
		button.active.score(type="button") Check my answers
		
		p.response
		

div.break &nbsp;

div.your_results
	h2= results_hed
		
	table.results
		tr
			th.yes Yes
			th.no No
			th.label Right
			th.response Shoppers who said Yes
				
		for right in rights
			tr(id=right.slug)
				td(class="check yes")
					input(type="checkbox", disabled="disabled")
				td(class="check no")
					input(type="checkbox", disabled="disabled")
				td(class="label")= right.right
				td(class="response")
					div.fill
					div.pct
		
	div.explainer

h2= body1_hed

for graf in body1
	p!= graf.value

h2= body2_hed

for graf in body2
	p!= graf.value
	
h2= body3_hed

for graf in body3
	p!= graf.value
