h2= question

table.rights
	tr
		th.yes Yes
		th.no No
		th.label
		th.response Shoppers who said Yes
			
	for right in rights
		tr(id=right.slug)
			td(class="check yes")
				input(id=right.slug + "-yes", type="checkbox")
				label(for=right.slug + "-yes")
			td(class="check no")
				input(id=right.slug + "-no", type="checkbox")
				label(for=right.slug + "-no")
			td(class="label")= right.text
			td(class="response")
				div.wrap
					div.fill
				div.pct
							
button.active.score(type="button") Compare my answers

div &nbsp;

div.your-results
	h2= results_hed
		
	div.explainer
